.avatar {
    //max-width: $size-xl;
    max-width: 223px; // em makes dashed look wrong
    border-radius: 100%;
    display: block;
    margin: auto;
    margin-bottom: $size-m;
    border: dashed $c-blue 10px;
}
