/* --------- IMPORT --------- */
/* martian-mono */
@font-face {
    font-display: swap;
    font-family: "Martian Mono";
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/MartianMono-VariableFont_wdth\,wght.ttf") format("tff");
}
/* tilt-neon */
@font-face {
    font-display: swap;
    font-family: "Tilt Neon";
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/TiltNeon-Regular-VariableFont_XROT\,YROT.ttf") format("tff");
}

/* --------- TYPE --------- */

body {
    font-family: $font-main;
    font-size: $size-base;
    line-height: 1.6;
}

.title {
    font-family: $font-alt;

    &--m {
        font-size: $size-m;
    }

    &--l {
        font-size: 30vw;
        text-align: center;
        text-transform: uppercase;

        span {
            display: block;
            line-height: 1.2;
        }
    }
}

nav,
footer {
    font-family: $font-alt;
    font-size: $size-base;
}
