/* --------- IMPORT --------- */
/* martian-mono */
@font-face {
    font-display: swap;
    font-family: "Martian Mono";
    font-style: normal;
    font-weight: 400;
    src:
        url("../fonts/martian-mono-v3-latin-regular.woff2") format("woff2"),
        url("../fonts/martian-mono-v3-latin-regular.ttf") format("truetype");
}

/* tilt-neon */
@font-face {
    font-display: swap;
    font-family: "Tilt Neon";
    font-style: normal;
    font-weight: 400;
    src:
        url("../fonts/tilt-neon-v10-latin-regular.woff2") format("woff2"),
        url("../fonts/tilt-neon-v10-latin-regular.ttf") format("truetype");
}

/* --------- TYPE --------- */

body {
    font-family: $font-main;
    font-size: $size-base;
    line-height: 1.6;
}

.title {
    font-family: $font-alt;

    &--m {
        display: inline-block;
        font-size: $size-m;
        background: linear-gradient(to bottom, transparent 0%, transparent 50%, $c-teal 50%, $c-teal 100%);
        padding-bottom: 5px;
    }

    &--l {
        font-size: 30vw;
        text-align: center;
        font-weight: 800;

        span {
            display: block;
            line-height: 1.2;

            transform: translateX(-100%);
            opacity: 0;
            animation: titleSlide 0.8s 0.2s forwards cubic-bezier(0.175, 0.885, 0.32, 1.275);

            &:nth-child(2) {
                animation-delay: 0.5s;
            }
            &:nth-child(3) {
                animation-delay: 0.8s;
            }
        }

        @keyframes titleSlide {
            to {
                transform: translateX(0);
                opacity: 1;
            }
        }
    }
}

nav,
footer {
    font-family: $font-alt;
    font-size: $size-base;
}
