/* --------- FOOTER --------- */
.footer {
    padding: $size-base;

    &__ul {
        display: flex;
        max-width: $size-xl;
        justify-content: space-evenly;
        margin-left: auto;
    }
}
