/* --------- FOOTER --------- */
.footer {
    // background-color: $c-blue;
    // color: $c-light;
    padding: $size-base;
    text-align: center;
    &__ul {
        display: flex;
        justify-content: space-evenly;
    }
}
