/* --------- TAB --------- */

@media screen and (min-width: 460px) {
    /* --------- BASE --------- */
    .list__projects {
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }

    p {
        margin-left: auto;
        margin-right: auto;
    }
    /* --------- FONT --------- */
    .title {
        &--l {
            font-size: $size-l;
        }
    }
    /* --------- SECTION --------- */
    .section {
        &__home {
            max-width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__projects {
            max-width: 100%;
        }
    }
}

/* --------- DESKTOP --------- */

@media screen and (min-width: 680px) {
    /* --------- FONT --------- */
    body {
        font-size: $size-desktop;
    }
    .title {
        &--xl {
            font-size: 20vw;
            text-align: left;
        }
    }

    /* --------- SECTION --------- */
    .section {
        &__home {
            flex-direction: row;

            &__container {
                margin-left: auto;
            }

            &:before {
                clip-path: polygon(0 0, 60% 0, 40% 100%, 0 100%);
            }
        }
    }
}

/* --------- DESKTOP - XXL --------- */

@media screen and (min-width: 1000px) {
    /* --------- FONT --------- */

    .title {
        &--xl {
            font-size: $size-xl;
        }
    }

    /* --------- SECTION --------- */

    .section__home__container {
        margin-right: $size-l;
    }

    .avatar {
        max-width: 223px;
        border: dashed $c-blue 10px;
    }

    /* --------- EXTRA --------- */
    .flex {
        max-width: 1400px;
        margin: auto;

        display: flex;
        justify-content: space-evenly;

        .section {
            margin: unset;
        }
    }
}
