/* --------- NAV & FOOTER --------- */
.nav,
.footer {
    background-color: $c-blue;
    color: $c-light;
    padding: $size-base;

    a {
        color: $c-light;
    }
}

/* --------- NAV --------- */
.nav {
    &__ul {
        display: flex;
        justify-content: center;
        gap: $size-l;
    }
}

/* --------- FOOTER --------- */
.footer {
    text-align: center;
    font-size: $size-s;
    &__ul {
        display: flex;
        justify-content: space-evenly;
    }
}
