.section__play {
    &__kitty {
        max-width: 100%;
        cursor: pointer;
        transition: opacity 0.5s ease-in-out;
    }
}

.heart {
    position: absolute;
    font-size: 24px;
    color: $c-pink;
    animation: fadeOut 1s forwards;
    pointer-events: none;
}
