.list__projects {
    margin-top: $size-m;

    &__el {
        background-color: $c-light;
        border-radius: 4px;

        margin-bottom: $size-s;
        padding: $size-s;
        padding-bottom: $size-m;

        a {
            display: block;
            transition: transform 0.2s;
            font-weight: 400;

            &:hover,
            &:focus,
            &:active {
                transform: scale(1.02);
                border: none;
            }
        }
    }
    &__img {
        display: block;
        max-width: 100%;
        margin-bottom: $size-base;
    }
    &__archive {
        margin-bottom: $size-m;
    }
}
