/* --------- VARIABLES --------- */

$size-base: 20px;
$size-s: 0.75em;
$size-m: 1.41em;
$size-l: 2em;
$size-xl: 2.83em;
$size-xxl: 7.99em;

$rapport: 1.414;

$c-dark: #1d171a;
$c-light: #fcfafa;

$c-yellow: #ffe84c;
$c-blue: #009caf;

$font-main: "LeagueGothic", sans-serif;
$font-alt: "Martian Mono", sans-serif;
