/* --------- VARIABLES --------- */

$size-base: 18px;
$size-desktop: 20px;
$size-s: 0.75em;
$size-m: 2em;
$size-l: 4em;
$size-xl: 11.3em;

$rapport: 1.414;

$c-dark: #1d171a;
$c-light: #fcfafa;

$c-yellow: #ffe84c;
$c-blue: #009caf;
$c-teal: #00c5a8;

$font-main: "Tilt Neon", sans-serif;
$font-alt: "Martian Mono", monospace;
