/* --------- VARIABLES --------- */
/* --------- RESET --------- */
h1,
h2,
h3,
h4 {
  font-weight: normal;
  margin: 0;
  font-size: unset;
}

body,
p,
figure,
footer,
ul {
  margin: 0;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  padding: 0;
}

button {
  all: initial;
}

a {
  text-decoration: none;
  color: unset;
}

/* --------- IMPORT --------- */
/* martian-mono */
@font-face {
  font-display: swap;
  font-family: "Martian Mono";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/MartianMono-VariableFont_wdth,wght.ttf") format("tff");
}
/* tilt-neon */
@font-face {
  font-display: swap;
  font-family: "Tilt Neon";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/TiltNeon-Regular-VariableFont_XROT,YROT.ttf") format("tff");
}
/* --------- TYPE --------- */
body {
  font-family: "Tilt Neon", sans-serif;
  font-size: 18px;
  line-height: 1.6;
}

.title {
  font-family: "Martian Mono", monospace;
}
.title--m {
  font-size: 2em;
}
.title--l {
  font-size: 30vw;
  text-align: center;
}
.title--l span {
  display: block;
  line-height: 1.2;
  transform: translateX(-100%);
  opacity: 0;
  animation: titleSlide 0.8s 0.2s forwards cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.title--l span:nth-child(2) {
  animation-delay: 0.5s;
}
.title--l span:nth-child(3) {
  animation-delay: 0.8s;
}
@keyframes titleSlide {
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

nav,
footer {
  font-family: "Martian Mono", monospace;
  font-size: 18px;
}

/* --------- NAV & FOOTER --------- */
.nav,
.footer {
  background-color: #1379a1;
  color: #fcfafa;
  padding: 18px;
}
.nav a,
.footer a {
  color: #fcfafa;
}

/* --------- NAV --------- */
.nav__ul {
  display: flex;
  justify-content: center;
  gap: 4em;
}

/* --------- FOOTER --------- */
.footer {
  text-align: center;
  font-size: 0.75em;
}
.footer__ul {
  display: flex;
  justify-content: space-evenly;
}

/* --------- BASE --------- */
html {
  scroll-behavior: smooth;
}

body {
  color: #1d171a;
  background-color: #fcfafa;
}

p {
  margin-bottom: 18px;
  max-width: 45ch;
}

a {
  color: #1379a1;
}

.list {
  max-width: 45ch;
}

/* --------- SECTION --------- */
.section {
  padding: 18px;
  max-width: 550px;
  margin: auto;
}
.section__home {
  background-color: #ffe84c;
}

/* --------- EXTRA --------- */
.hidden {
  display: none;
}

/* --------- TAB --------- */
@media screen and (min-width: 460px) {
  .section__home {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
/* --------- DESKTOP --------- */
@media screen and (min-width: 680px) {
  /* --------- FONT --------- */
  body {
    font-size: 20px;
  }
  .title--l {
    font-size: 20vw;
    text-align: left;
  }
  /* --------- NAV --------- */
  .nav {
    position: fixed;
    right: 0;
    margin-right: 18px;
  }
  .nav__ul {
    display: flex;
    gap: 2em;
  }
  /* --------- SECTION --------- */
  .section__home {
    flex-direction: row;
  }
  .section__home__container {
    margin-top: auto;
    margin-left: auto;
    margin-bottom: 2em;
  }
}
/* --------- DESKTOP - XXL --------- */
@media screen and (min-width: 1000px) {
  /* --------- FONT --------- */
  .title--l {
    font-size: 11.3em;
  }
}/*# sourceMappingURL=style.css.map */