@import "variables";
@import "reset";

@import "font";
@import "projects";
@import "playroom";
@import "footer";

/* --------- BASE --------- */

html {
    scroll-behavior: smooth;
}

body {
    color: $c-dark;
    background-color: $c-yellow;

    &.alt {
        background-color: $c-blue;
        background-image: url(../images/paw.png);
        background-size: 50%;

        .title--m {
            background: linear-gradient(to bottom, transparent 0%, transparent 50%, $c-yellow 50%, $c-yellow 100%);
            margin-top: 0;
        }

        a {
            border-color: $c-yellow;
        }
    }
}

p {
    margin-bottom: $size-base;
    max-width: 45ch;
}

a {
    color: $c-dark;
    font-weight: 800;

    transition: border-bottom 0.2s;

    &:hover,
    &:active,
    &:focus {
        border-bottom: dashed $c-blue 5px;
    }
}

.list {
    max-width: 45ch;
}

/* --------- ANIMATIONS --------- */

h2,
h3 {
    animation: slideFadeIn 0.5s cubic-bezier(0.77, 0, 0.175, 1) forwards;
}

p {
    animation: slideFadeIn 1s cubic-bezier(0.77, 0, 0.175, 1) forwards;
}

li:not(.nav__el) {
    animation: slideFadeIn 1.5s cubic-bezier(0.77, 0, 0.175, 1) forwards;
}

/* --------- SECTION --------- */
.section {
    padding: $size-base;
    max-width: 550px;
    margin: auto;

    position: relative;

    &__home {
        position: relative;
        height: 100vh;

        &:before {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;

            background-color: $c-blue;
            background-image: url(../images/paw.png);
            background-size: 50%;

            clip-path: polygon(0 0, 100% 0, 0 100%, 0 100%);

            animation: slideIn 1s forwards cubic-bezier(0.785, 0.135, 0.15, 0.86);

            z-index: -1;
        }
    }
}

/* --------- IMAGES --------- */

.avatar {
    max-width: $size-l;
    border-radius: 100%;
    display: block;
    margin: auto;
    margin-bottom: $size-m;
    border: dashed $c-blue 5px;

    &:hover {
        animation: rotation 1s;
    }
}

.kitty {
    max-width: 45vw;
    &--center {
        display: block;
        margin: auto;
    }
    &--back {
        display: block;
        margin: auto;
    }
}

/* --------- LINK --------- */

.list__social {
    &__el {
        &:before {
            display: inline-block;
            width: $size-base;
            height: $size-base;
            margin-right: 5px;
            margin-bottom: 2px;
            vertical-align: middle;
            content: "";

            background-size: 100%;
            background-repeat: no-repeat;
            background-position: center;
        }
        &--github:before {
            background-image: url(../images/icon-github.svg);
        }
        &--ig:before {
            background-image: url(../images/icon-ig.svg);
        }
    }
}

.nav {
    display: flex;
    justify-content: space-evenly;
    margin-top: $size-m;

    a {
        &:hover,
        &:focus,
        &:active {
            border: none;
        }
    }

    &__el {
        transition: transform 0.2s;

        &:hover,
        &:active,
        &:focus {
            transform: scale(1.05);
        }
    }
}

/* --------- EXTRA --------- */

.hidden {
    display: none;
}

.center {
    text-align: center;
}

@import "animations";
@import "media";
