@import "variables";
@import "reset";

@import "font";
@import "nav-footer";
@import "deco";

/* --------- BASE --------- */

html {
    scroll-behavior: smooth;
}

body {
    color: $c-dark;
    background-color: $c-light;
}

p {
    margin-bottom: $size-base;
    max-width: 45ch;
}

a {
    color: $c-dark;

    &:hover {
        border-bottom: dashed $c-blue 5px;
    }
}

.list {
    max-width: 45ch;
}

/* --------- SECTION --------- */
.section {
    padding: $size-base;
    max-width: 550px;
    margin: auto;

    &__home {
        background-color: $c-yellow;
    }
}

/* --------- EXTRA --------- */

.hidden {
    display: none;
}

@import "media";
