/* --------- VARIABLES --------- */
/* --------- RESET --------- */
h1,
h2,
h3,
h4 {
  font-weight: normal;
  margin: 0;
  font-size: unset;
}

body,
p,
figure,
footer,
ul {
  margin: 0;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  padding: 0;
}

button {
  all: initial;
}

a {
  text-decoration: none;
  color: unset;
}

/* --------- IMPORT --------- */
/* martian-mono */
@font-face {
  font-display: swap;
  font-family: "Martian Mono";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/martian-mono-v3-latin-regular.woff2") format("woff2"), url("../fonts/martian-mono-v3-latin-regular.ttf") format("truetype");
}
/* tilt-neon */
@font-face {
  font-display: swap;
  font-family: "Tilt Neon";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/tilt-neon-v10-latin-regular.woff2") format("woff2"), url("../fonts/tilt-neon-v10-latin-regular.ttf") format("truetype");
}
/* --------- TYPE --------- */
body {
  font-family: "Tilt Neon", sans-serif;
  font-size: 18px;
  line-height: 1.6;
}

.title {
  font-family: "Martian Mono", monospace;
}
.title--s {
  font-size: 1em;
  font-weight: 800;
}
.title--m {
  display: inline-block;
  font-size: 2em;
  background: linear-gradient(to bottom, transparent 0%, transparent 50%, #00c5a8 50%, #00c5a8 100%);
  padding-bottom: 5px;
  margin-bottom: 1em;
}
.title--l {
  font-size: 30vw;
  text-align: center;
  font-weight: 800;
}
.title--l span {
  display: block;
  line-height: 1.2;
  transform: translateX(-100%);
  opacity: 0;
  animation: titleSlide 0.8s 0.2s forwards cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.title--l span:nth-child(2) {
  animation-delay: 0.5s;
}
.title--l span:nth-child(3) {
  animation-delay: 0.8s;
}
@keyframes titleSlide {
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

nav,
footer {
  font-family: "Martian Mono", monospace;
  font-size: 1em;
}

/* --------- FOOTER --------- */
.footer {
  padding: 1em;
  text-align: center;
}
.footer__ul {
  display: flex;
  justify-content: space-evenly;
}

/* --------- BASE --------- */
html {
  scroll-behavior: smooth;
}

body {
  color: #1d171a;
  background-color: #ffe84c;
}

p {
  margin-bottom: 1em;
  max-width: 45ch;
}

a {
  color: #1d171a;
  font-weight: 800;
  transition: border-bottom 0.2s;
}
a:hover, a:active, a:focus {
  border-bottom: dashed #009caf 5px;
}

.list {
  max-width: 45ch;
}

/* --------- SECTION --------- */
.section {
  padding: 1em;
  max-width: 550px;
  margin: auto;
}
.section__home {
  position: relative;
  height: 100vh;
  overflow: hidden;
}
.section__home:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #009caf;
  background-image: url(../images/paw.png);
  background-size: 50%;
  -webkit-clip-path: polygon(0 0, 100% 0, 0 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 0 100%, 0 100%);
  animation: slideIn 1s forwards cubic-bezier(0.785, 0.135, 0.15, 0.86);
  z-index: -1;
}

/* --------- IMAGES --------- */
.avatar {
  max-width: 4em;
  border-radius: 100%;
  display: block;
  margin: auto;
  margin-bottom: 2em;
  border: dashed #009caf 5px;
  transition: 0.5s;
}
.avatar:hover {
  animation: rotation 1s;
}

/* --------- LINK --------- */
.list__social__el:before {
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-right: 5px;
  margin-bottom: 2px;
  vertical-align: middle;
  content: "";
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.list__social__el--github:before {
  background-image: url(../images/icon-github.svg);
}
.list__social__el--ig:before {
  background-image: url(../images/icon-ig.svg);
}

/* --------- EXTRA --------- */
.hidden {
  display: none;
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* --------- TAB --------- */
@media screen and (min-width: 460px) {
  .section__home {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
/* --------- DESKTOP --------- */
@media screen and (min-width: 680px) {
  /* --------- FONT --------- */
  body {
    font-size: 20px;
  }
  .title--l {
    font-size: 20vw;
    text-align: left;
  }
  /* --------- NAV --------- */
  .nav {
    position: fixed;
    right: 0;
    margin-right: 1em;
  }
  .nav__ul {
    display: flex;
    gap: 2em;
  }
  /* --------- SECTION --------- */
  .section__home {
    flex-direction: row;
  }
  .section__home__container {
    margin-left: auto;
  }
  .section__home:before {
    -webkit-clip-path: polygon(0 0, 60% 0, 40% 100%, 0 100%);
            clip-path: polygon(0 0, 60% 0, 40% 100%, 0 100%);
  }
}
/* --------- DESKTOP - XXL --------- */
@media screen and (min-width: 1000px) {
  /* --------- FONT --------- */
  .title--l {
    font-size: 11.3em;
  }
  /* --------- SECTION --------- */
  .section__home__container {
    margin-right: 4em;
  }
  .avatar {
    max-width: 223px;
    border: dashed #009caf 10px;
  }
  /* --------- EXTRA --------- */
  .flex {
    max-width: 1200px;
    display: flex;
    margin: auto;
  }
  .flex .section {
    margin: unset;
  }
}/*# sourceMappingURL=style.css.map */